.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input{
    font-size: 1rem;
}

.user-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}
